<a href="https://colab.research.google.com/github/omj3424/Python_Programming_Study/blob/main/pandas_exercises/02_Filtering_%26_Sorting/Chipotle/Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [102]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [103]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')

### Step 4. How many products cost more than $10.00?

In [ ]:
# chipo.head(10)

In [106]:
# clean the item_price column and transform it in a float
chipo.item_price = chipo.item_price.apply(lambda x: float(x[1:-1]))

# reassign the column with the cleaned prices

# delete the duplicates in item_name and quantity
chipo_filtered = chipo.drop_duplicates(subset = ['item_name', 'quantity'])

# select only the products with quantity equals to 1
chipo_qtt_one = chipo_filtered[chipo_filtered.quantity == 1]

chipo_qtt_one.query('item_price >= 10').item_name.nunique()
# 또는 chipo_qtt_one[chipo_qtt_one['item_price'] > 10].item_name.nunique()

## 참고 사이트: https://leechamin.tistory.com/49

12

### Step 5. What is the price of each item?
###### print a data frame with only two columns item_name and item_price

In [ ]:
# chipo.item_name.unique()

In [ ]:
chipo.groupby('item_name')['item_price'].min()

item_name
6 Pack Soft Drink        6.49
Barbacoa Bowl            8.69
Barbacoa Burrito         8.69
Barbacoa Crispy Tacos    8.99
Barbacoa Salad Bowl      9.39
                         ...
Veggie Burrito           8.49
Veggie Crispy Tacos      8.49
Veggie Salad             8.49
Veggie Salad Bowl        8.75
Veggie Soft Tacos        8.49
Name: item_price, Length: 50, dtype: float64

### Step 6. Sort by the name of the item

In [ ]:
chipo.sort_values(['item_name'])

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [114]:
chipo[chipo.item_price == max(chipo.item_price)]

# 다른 방법: chipo.sort_values('item_price', ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [ ]:
len(chipo.loc[chipo['item_name'] == 'Veggie Salad Bowl'])

18

### Step 9. How many times did someone order more than one Canned Soda?

In [ ]:
len(chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] >= 2)])

20