# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')

### Step 4. See the first 10 entries

In [3]:
chipo.head(10)

#내 생각: chipo[:10]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [4]:
# Solution 1
len(chipo)

4622

In [5]:
# Solution 2
chipo.info()

#내 생각: chipo.count()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [6]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [7]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [11]:
chipo_qtt = chipo.groupby('item_name')[['order_id', 'quantity']].sum()
chipo_qtt[chipo_qtt['quantity'] == max(chipo_qtt['quantity'])]

#chipo.groupby(['item_name']).quantity.sum().sort_values(ascending = False).index[0]

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [52]:
chipo_qtt = chipo.groupby('item_name')[['order_id', 'quantity']].sum()
chipo_qtt[chipo_qtt['quantity'] == max(chipo_qtt['quantity'])]

#잘 모르겠어.. 어려워...

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [53]:
chipo_cd = chipo.groupby('choice_description')[['order_id', 'quantity']].sum()
chipo_cd[chipo_cd['quantity'] == max(chipo_cd['quantity'])]

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [60]:
chipo['quantity'].sum()

# 내 생각: chipo.groupby('item_name')['quantity'].sum() -> 근데 여기서 값이 나열되고 합계가 나오진 않았음.

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [64]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [65]:
chipo.item_price = chipo.item_price.apply(lambda x: float(x[1:]))

# 이해 못했음.

#### Step 13.c. Check the item price type

In [66]:
chipo.item_price.dtypes

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [71]:
revenue = (chipo['quantity'] * chipo['item_price']).sum()
print('Revenue was: $' + str(round(revenue,2)))

# round는 반올림 -> str(round(revenue,2))는 revenue 값에서 소수 둘째자리까지 반올림하라는 뜻

Revenue was: $39237.02

### Step 15. How many orders were made in the period?

In [78]:
chipo['order_id'].value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [79]:
# Solution 1
average = revenue / chipo['order_id'].value_counts().count()
print(average)

21.39423118865867

In [ ]:
# Solution 2

#mean을 이용해 어떻게 할 수 있을 거 같긴한디...

### Step 17. How many different items are sold?

In [81]:
chipo['item_name'].nunique()

50